.basic {
    font-size: var(--heading2);
    font-weight: 700;
    letter-spacing: 0.15em;
  }
  
  .box {
    display: block;
    width: 170px;
}

@media (max-width: 850px) {
    .box {
        width: 160px;
        margin-top:15px;
    }
}